@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* background-color rules */
.header, .main-info, .footer {
  background-color: #1f2937;
}

.main-info button, .cta-box {
   background-color: #3882f6;
}

.quote-container {
  background-color: #e5e7eb;
}

/* change font properties */
.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main-text-description, .header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

.random-info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937; 
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote-source {
  font-weight: bold;
}

.footer {
  color: #e5e7eb;
}

/* image properties */
.main-text-image {
  max-width: 418px;
  height: auto;
}

/* main sign-up button */
.main-info button {
  color: #f9faf8;
  font-weight: 900;
  padding: 8px 26px;

  border-radius: 6px;
  border-style: none;
}

/* putting header, content,and footer in flexbox */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.content {
  flex: 1;
}

/* modifying the header */

.header, .content > * {
  padding: 0 371px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  padding: 16px;
}

a {
  text-decoration: none;
}

.header-links {
  list-style-type: none;
  
  display: flex;
  justify-content: center;
  gap: 16px;
}

.main-info {
  display: flex;
  justify-content: center;
  padding: 68px 371px;
}

.main-info h1 {
  margin: 0;
}

.main-text-description {
  flex: 1;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-right: 278px;
}